/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');  */

@font-face {
    font-family: projectFont;
    src: url("./assets/fonts/Segoe\ UI\ Bold\ Italic.woff");
}


:root{
    --primary: #F59964;
    --secondary: #23A8A8;
    --tertiary: #64F5F5;
    --light: #FFB082;
    --dark: #A85F34;
    --text:#5E5E5E

}

*{
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: projectFont;
}

.header {
    padding: 1rem;
    color: var(--text)
}

.navLogo{
    display: flex;
}

.navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
}

.cart{
    height: 35px;
    width: 35px;
}

.categories{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.splide__list img{
    width:100%;
    height: 500px; 
    
}

li{
    list-style: none;
}

.grid-card{
    margin: 3rem 0;
}
.card {
    transition: transform .8s;
   
}

.card:hover {
    transform: scale(1.06);
}

.empty-cart {

    width: 35rem;
    height: 18rem;
}

.card-text {
    font-size: 0.8rem;
}


.btn {
    background-color: var(--primary);
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 7px 10px 7px 10px;
    transition: background-color .4s ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: var(--light)
}

